.title {
    padding: 2rem 0;
    z-index: 1;
}
.recipe-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: left; */
    margin: 0 calc(2rem - 1vw);
}

.recipe-image {
    width: 45vw;
    border-radius: 10px;
}
.recipe-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 7px 5px 7px 0 rgb(128, 128, 128, 0.8) ;
}

.recipe-desc {
    width: 45vw;
    padding-left: 2rem;
    text-align: justify;
    line-height: 1.5;
}

.recipe-instructions {
    width: 45vw;
}

.recipe-instructions ol {
    list-style: inside;
    padding-left: 0;
}

.recipe-ingredients {
    width: 45vw;
}